@tailwind base;

body {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-semibold text-gray-700;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply pb-4 text-3xl;
}

h3 {
	@apply pb-2 text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

p a,
li a,
blockquote a,
dd a {
	@apply font-medium text-indigo-700;
}

.wrapper>p:first-of-type {
	@apply p-0 m-0;
}

blockquote {
	@apply pl-4 m-4 border-l-4 border-gray-500;
}

code {
	@apply p-1 text-sm bg-gray-200 border border-gray-300 rounded-lg;
}

pre code {
	@apply bg-transparent border-0 rounded-none;
}


/* Table of contents */

.table-of-contents::before {
	@apply ml-5 font-bold;
	content: "Table of Contents";
}

.table-of-contents {
	@apply border-l-2 border-solid float-right ml-2 mb-2;
}

.table-of-contents a {
	@apply py-1;
}

.table-of-contents ul {
	@apply py-0;
}

.header-anchor {
	text-decoration: none !important;
	@apply text-lg;
}

.japanese {
	@apply mx-8;
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@tailwind components;

@tailwind utilities;